<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/register" access="permitAll" />
		<intercept-url pattern="/resources/css/**" access="permitAll" />
		<intercept-url pattern="/resources/fonts/**" access="permitAll" />
		<intercept-url pattern="/resources/images/**" access="permitAll" />
		<intercept-url pattern="/resources/js/**" access="permitAll" />
		<intercept-url pattern="/welcome" access="permitAll" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/**" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login" default-target-url="/home"
			authentication-failure-url="/login" />
		<session-management session-fixation-protection="newSession">
			<concurrency-control max-sessions="1" />
		</session-management>
		<logout logout-success-url="/welcome" invalidate-session="true" />
	</http>
	<beans:bean id="customAuthenticationProvider" class="miniblog.util.CustomAuthenticationProvider" />
	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>
</beans:beans>